body {
    background-color: rgb(123, 196, 56);
    font-family: sans-serif;
    padding: 1em;
    max-width: 900px;
}

h1 {    
    text-align:center; 
    font-size: 700%;
    color: #0033cc;
}

h2 {
    font-size: 200%;
    border-bottom: 3px solid #0033cc;
}

ul {
    list-style-type: disk;
}